{% extends "shared/layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">Your balance: ${{ current_user.balance }}</h2>
        <form method="POST" action="{{ url_for('user.balance') }}">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.amount.label(class="form-label") }}
                {{ form.amount(class="form-control", type="number", step="0.01") }}
            </div>
            <div class="mb-3 text-center">
                {{ form.submit(class="btn btn-danger btn-lg w-100") }}
            </div>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for category, message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
