{% extends "shared/layout.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">Change Email</h2>
        <form method="POST" action="{{ url_for('user.change_email') }}">
            <div class="form-group">
                <label for="email">New Username</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>
            <button type="submit" class="btn btn-primary">Change Email</button>
        </form>
    </div>
</div>
{% endblock %}
