{% extends "shared/layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">Change Password</h2>
        <form method="POST" action="{{ url_for('user.change_password') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.old_password.label(class="form-label") }}
                {{ form.old_password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.new_password.label(class="form-label") }}
                {{ form.new_password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.confirm_new_password.label(class="form-label") }}
                {{ form.confirm_new_password(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary btn-lg w-100">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}
