{% extends "shared/layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="text-center">Order History</h2>
        <ul class="list-group">
            {% for order in orders %}
            <li class="list-group-item">
                <strong>Order Date:</strong> {{ order.order_date }}<br>
                <strong>Total:</strong> ${{ order.total | round(2) }}<br>
                <strong>Items:</strong>
                <ul>
                    {% for item in order.order_items %}
                    <li>{{ item.product.name }} - {{ item.quantity }} x ${{ item.price }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
