{% extends "shared/layout.html" %}
{% block content %}
<div class="container">
    <h2>Orders History</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order Date</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_date }}</td>
                <td>€{{ order.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
