{% extends "shared/layout.html" %}
{% block content %}
<div class="container mt-4">
    <div class="mb-3">
        <a href="{{ url_for('admin.admin_dashboard') }}" class="btn btn-secondary">Back to Admin Panel</a>
    </div>
    <h2>Discounts</h2>
    <ul class="list-group">
        {% for discount in discounts %}
            <li class="list-group-item">
                <ul class="list-unstyled">
                    <li><strong>Product ID:</strong> {{ discount.product_id }}</li>
                    <li><strong>Discount Percentage:</strong> {{ discount.discount_percentage }}%</li>
                </ul>
                <form id="updateDiscountForm{{ discount.id }}" method="POST" action="{{ url_for('admin.update_discount', discount_id=discount.id) }}" class="mb-3">
                    <div class="mb-3">
                        <label for="discount_percentage_{{ discount.id }}" class="form-label">New Discount Percentage:</label>
                        <input type="number" name="discount_percentage" id="discount_percentage_{{ discount.id }}" class="form-control" required>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="document.getElementById('updateDiscountForm{{ discount.id }}').submit();">Update Discount</button>
                </form>
                <form id="removeDiscountForm{{ discount.id }}" method="POST" action="{{ url_for('admin.remove_discount', discount_id=discount.id) }}" style="display:inline;">
                    <button type="button" class="btn btn-danger" onclick="document.getElementById('removeDiscountForm{{ discount.id }}').submit();">Remove Discount</button>
                </form>
                <hr>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}