/* General styles */
body {
    background-color: #f8f9fa;
    color: #212529;
}

.navbar-brand {
    font-weight: bold;
    color: #dc3545 !important; /* Set the text color to red */
    font-size: 3.5rem; /* 30% smaller than 5rem */
    transition: color 0.3s, transform 0.3s;
}

.navbar-brand:hover {
    color: #c82333 !important;
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.form-control {
    border-radius: 0.25rem;
}

.btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: #fff;
}

.navbar-nav .nav-item .nav-link {
    margin-right: 15px;
    transition: color 0.3s, transform 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #e0e0e0 !important;
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.no-hover:hover {
    color: #000 !important; /* Keep the color black on hover */
    transform: none; /* No transformation on hover */
}

.nav-link.text-black {
    color: #000 !important;
    transition: color 0.3s;
}

.nav-link.text-black:hover {
    color: #333 !important;
    transform: scale(1.1); /* Slightly enlarge on hover */
}

.navbar-toggler {
    border-color: #ffffff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

h2.text-center {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #ffffff !important;
}

.bg-red {
    background-color: #dc3545 !important; /* Set the navbar background to red */
}
