{% extends "layout.html" %}
{% block content %}
<form method="POST" action="{{ url_for('auth.login') }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.remember_me.label(class="form-check-label") }}
        {{ form.remember_me(class="form-check-input") }}
    </div>
    <div class="mb-3 text-center">
        {{ form.submit(class="btn btn-danger btn-lg w-100") }}
    </div>
</form>
{% endblock %}
